/**
 * Proyecto: TicketingEVG
 * Alumno: Joseph Joel Quispe Alvarez
 * Asignatura: DAW
 * Curso: 2025-2026
 * Descripción: Estilos para la selección de entorno.
 */
.seleccion-entorno {
	background-color: #f4f7fa;
}

.icono-seguridad i {
	color: var(--azul-oscuro);
}

.tarjeta-entorno {
	background: white;
	border-radius: 20px;
	cursor: pointer;
	transition: transform 0.3s, box-shadow 0.3s;
	border: 2px solid transparent;
}

.tarjeta-entorno:hover {
	transform: translateY(-10px);
	box-shadow: 0 15px 30px rgba(0,0,0,0.1) !important;
	border-color: var(--dorado-activo);
}

.portal-card:hover {
	border-color: var(--azul-btn);
}

.icono-entorno {
	width: 60px;
	height: 60px;
	background-color: var(--dorado-activo);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	font-size: 1.5rem;
	margin: 0 auto;
}

.portal-card .icono-entorno {
	background-color: var(--azul-btn);
}

.link-acceso {
	color: var(--azul-oscuro);
}
